/* Global */
:root {
  --orange-primary: #FF6600;
  --orange-dark: #725848;
  --orange-accent: #FFEEE3;
  --dark-gray: #363636;
  --medium-gray: #646464;
  --gray: #474747;
  --light-gray: #F5F7FA;
  --font-primary: 'Mulish', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--light-gray);
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

body * {
  transition: .3s;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

.flex {
  display: flex;
}

section {
  margin-bottom: 200px ;
}

.button {
  font-size: 14px;
  font-weight: 700;
  border-radius: 40px;
  padding: 15px 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-sm {
  font-size: 14px !important;
  padding: 10px 22px;
}

.button-primary {
  background: var(--orange-primary);
  color: #FFFFFF !important;
}
.button-primary:hover {
  background: var(--orange-dark);
}

.button-ghost {
  background: transparent;
  color: var(--orange-dark);
  border: 1px solid var(--orange-dark);
}
.button-ghost:hover {
  background: var(--orange-dark);
  color: #FFFFFF;
}

h1 {
  font-size: 38px;
  font-weight: 800;
  line-height: 52px;
  color: var(--orange-dark);
}

h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: var(--orange-dark);
}

h5 {
  color: var(--medium-gray);
  font-size: 18px;
  font-weight: 500;
}

p {
  font-size: 14px;
  line-height: 26px;
}

/* Navigation */
.navigation {
  position: sticky;
  top: 0;
  width: 100%;
  background: #ffffff60;
  backdrop-filter: blur(20px);
  z-index: 9;
  padding: 12px 0;
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation .logo img {
  height: 70px;
}

.navigation-links ul {
  display: flex;
  list-style: none;
}

.navigation-links ul li {
  margin-left: 30px;
}

.navigation-links ul li a {
  color: var(--orange-dark);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.navigation-links ul li a:hover {
  color: var(--orange-primary);
}

.navigation .dropdown {
  background: #FFFFFF;
  padding: 30px;
  position: absolute;
  top: 60px;
  display: none;
}

.navigation .dropdown ul {
  display: block;
  padding: 0;
}

.navigation .dropdown ul li {
  margin-left: 0;
  margin-bottom: 10px;
}

/* Contact Modal */
.contact-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  z-index: 9;
  /* display: none; */
}

.contact-modal {
  margin: auto auto;
  margin-top: 100px;
  padding: 50px;
  background: #FFFFFF;
  width: 60%;
  border-radius: 10px;
}

#close-modal {
  float: right;
  cursor: pointer;
}

.contact-modal .contact-details {
  margin-right: 60px;
  /* max-width: 400px; */
}

.contact-details .contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact-details .contact-item img {
  margin-right: 20px;
}

.contact-details .contact-item a {
  color: var(--orange-dark);
  text-decoration: none;
}

.contact-form .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact-form :is(label, input, textarea, button) {
  display: block;
  width: 100%;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form :is(input, textarea) {
  margin-bottom: 20px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  padding: 20px 22px;
}

/* Hero */
.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content {
  padding: 50px 50px;
  padding-left: 0;
  background: #F5F7FA60;
  backdrop-filter: blur(20px);
  z-index: 1;
  margin-right: -300px;
  max-width: 565px;
}

.hero-img-container {
  max-width: 60%;
}

.hero-img { text-align: right; }
.hero-img img {
  /* object-fit: cover; */
  width: 85%;
}

/* Products */
.products-flex {
  align-items: center;
  justify-content: space-between;
}

.products-content {
  margin-left: 90px;
  width: 100%;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.product {
  padding: 30px 0;
  text-align: center;
  background: #FFFFFF;
  color: var(--orange-dark);
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 10px 20px #6C6C6C05;
}

.product:hover {
  box-shadow: 0 20px 30px #6C6C6C15;
}

/* CTA */
section.cta {
  background: #FFFFFF;
  padding: 100px 0;
}

.cta-flex {
  align-items: center;
  justify-content: space-between;
}

.cta-image-container {
  width: 140%;
  margin-left: -5vw;
}
.cta-img img {
  width: 100%;
}

.cta-content {
  margin-left: 100px;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.testimonial {
  padding: 30px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 10px 20px #6C6C6C05;
}

.testimonial h6 {
  color: var(--orange-dark);
}

/* Subscribe to newsletter */
section.subscribe {
  background: var(--orange-accent);
  padding: 100px 0;
  text-align: center;
}

section.subscribe form {
    background: white;
    display: inline-block;
    border-radius: 40px;
    padding: 5px;
}

section.subscribe form:active, section.subscribe form:hover {
  box-shadow: 0 20px 30px #6C6C6C15;
}

section.subscribe form input {
  border: none;
  padding: 15px;
  border-radius: 20px;
  outline: none;
}


/* Footer */
footer {
  padding: 100px 0;
}

.footer-flex {
  justify-content: space-between;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
}

.footer-menu ul li {
  margin-bottom: 10px;
}

.footer-menu ul li a {
  color: var(--medium-gray);
  text-decoration: none;
}
.footer-menu ul li a:hover {
  color: var(--orange-dark);
}

footer hr {
  border: none;
  border-top: 1px solid #DFDFDF;
}

.footer-copyright {
  color: var(--medium-gray);
}